

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 3rem; /* Space for the icon */
  box-sizing: border-box; 
}

.password-toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;

  /* 3. Add this to size the icon */
  font-size: 1.2rem;
}

.password-toggle-btn:hover {
  color: #000;
}